@font-face {
  font-family: 'Red Rose';
  font-weight: 700;
  font-style: normal;
  src: url('/fonts/RedRose-Bold.ttf') format('ttf');
  font-display: swap;
}

@font-face {
  font-family: 'Red Rose';
  font-weight: 600;
  font-style: normal;
  src: url('/fonts/RedRose-SemiBold.ttf') format('ttf');
  font-display: swap;
}

@font-face {
  font-family: 'Red Rose';
  font-weight: 500;
  font-style: normal;
  src: url('/fonts/RedRose-Medium.ttf') format('ttf');
  font-display: swap;
}

@font-face {
  font-family: 'Red Rose';
  font-weight: 400;
  font-style: normal;
  src: url('/fonts/RedRose-Regular.ttf') format('ttf');
  font-display: swap;
}

@font-face {
  font-family: 'MonumentExtended';
  font-weight: 400;
  font-style: normal;
  src: url('/fonts/MonumentExtended-Regular.otf') format('otf');
  font-display: swap;
}

@font-face {
  font-family: 'MonumentExtended';
  font-weight: 900;
  font-style: normal;
  src: url('/fonts/MonumentExtended-Ultrabold.otf') format('otf');
  font-display: swap;
}

